img{
    margin: 10px;
    border: solid yellow 3px;
    transition: all 2s;
}

.img_round{
    border: solid green 1px;
    margin: 20px;
    height: 100;
    width: 100px;
    object-fit: cover;
    border-radius: ;
}